// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.distance {margin-top: 20px;}

.image-dim{width: 100%; max-height: 650px;}

.full{width: 100%; opacity: 0.8;}

.content{padding-top: 20px; font-family: 'Source Sans Pro', sans-serif;}

.sample{background-color: #F1ECEC; height: auto;}

.service-font{font-family: 'Montserrat', sans-serif; }


.center{text-align: center;}



.bbjis{
    background-image: image-url('bbjis_head.jpg'); 
    background-size: 100% auto; 
    background-repeat: no-repeat; 
    height: 320px;
    margin-top: 50px;
}


.scrolling-bg-effect{background-image: image-url("5.jpg"); 
                    background-attachment: fixed;
                    background-size: 100% 800px;
                    background-repeat: no-repeat;
                    height: 300px;
                    }
.services-margin{margin-top: 50px;}

.contact-height{height: auto; background-color: #474545; padding-bottom: 30px;}

.contact-info{color: white;}

//CAROUSEL SECTION
.carousel-inner{max-height: 650px;}

.car-maxheight{max-height: auto;}

.carousel-caption{top: 50% !important; bottom: auto; transform: translateY(-50%);}

.carousel-caption>h2{font-size: 80px; font-family: 'Oswald', sans-serif;}

.footer{background-color: darkgrey; font-family: 'Roboto Slab', serif; font-size: 12px;}


//Some indentations
.bot-pad{padding-bottom: 50px;}

.indent-left {text-indent: 20px;}

.indent-about {text-indent: 50px;}

.ital{font-style: italic;}

.td-padding {padding-left: 20px;}

.d-bold{font-weight: bold;}


//responsive

@media screen and (max-width: 420px) {
    .bbjis {
        height: 100px;
    }
    
    .carousel-caption>h2{
        font-size: 40px; 
        font-family: 'Oswald', sans-serif;}
    
}

.enclose{
    border: 2px solid black;
    padding: 2px;
    color: black;
    transition: 1s;
};

.enlose-hover{
    color: white;
    background-color: #F1ECEC;
}

.projImagebor {
-webkit-box-shadow: 4px 13px 44px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 13px 44px -8px rgba(0,0,0,0.75);
box-shadow: 4px 13px 44px -8px rgba(0,0,0,0.75);
}


